.flex-container {
  background-color: tomato;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}

.flex-button {
  background-color: green;
}
